@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
  --shadow: rgba(255, 244, 244, 0.778) 0px 3px 8px;
}
